<div class="portfolio-modal modal fade" id="timelineModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-bs-dismiss="modal">
                <div class="lr">
                    <div class="rl"></div>
                </div>
            </div>
            <div class="container-fluid h-100">
                <div class="row h-100">
                    <div class="col-12 h-100">
                        <div class="modal-body h-100 p-0">
                            <div id="timeline-embed"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
