<section id="ultratem" class="container content-section">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="ut-title section-heading title-text">UltraTEM</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <p>The UltraTEM system, developed by Gap Explosive Ordnance Detection in partnership with Black Tusk Geophysics, is a multi-component multi-sensor system that uses time-domain electromagnetic induction (EMI) to detect and characterize buried metal. Highlights of the UltraTEM system include:</p>

            <ul class="fa-ul">
                <li><span class="fa-li">
                    <span class="fa-stack">
                        <i class="fa-yellow fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa-black fa fa-wave-square fa-stack-1x"></i>
                    </span>
                </span>Deep detection with high current transmitters</li>

                <li><span class="fa-li">
                    <span class="fa-stack">
                        <i class="fa-yellow fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa-black fa fa-dice-d6 fa-stack-1x"></i>
                    </span>
                </span>Flexible multi-static transmitter and receiver geometry</li>

                <li><span class="fa-li">
                    <span class="fa-stack">
                        <i class="fa-yellow fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa-black fa fa-clock-o fa-stack-1x"></i>
                    </span>
                </span>Precise time synchronization of all sensor streams</li>

                <li><span class="fa-li">
                    <span class="fa-stack">
                        <i class="fa-yellow fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa-black fa fa-eye fa-stack-1x"></i>
                    </span>
                </span>Real-time data visualization in BTField</li>

                <li><span class="fa-li">
                    <span class="fa-stack">
                        <i class="fa-yellow fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa-black fa fa-desktop fa-stack-1x"></i>
                    </span>
                </span>One-pass classification capability</li>

                <li><span class="fa-li">
                    <span class="fa-stack">
                        <i class="fa-yellow fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa-black fa fa-check fa-stack-1x"></i>
                    </span>
                </span>Validated by DAGCAP for advanced geophysical classification</li>
            </ul>

            <div style="margin: 75px 0px">
                <div class="col-md-6 text-center">
                    <a href="{{ "UltraTEMBasicDescriptionv2.pdf" | relURL }}" target="_blank">
                        <div class="portfolio-hover">
                            <span class="fa-stack fa-4x">
                                <i class="fa-yellow fa fa-square fa-stack-2x text-primary"></i>
                                <i class="fa-black fa fa-book fa-stack-1x"></i>
                            </span>
                        </div>
                    </a>
                    <p>Read more about the UltraTEM</p>
                </div>

                <div class="col-md-6 text-center">
                    <a href="https://youtu.be/2rsNozMa-O4" target="_blank">
                        <div class="portfolio-hover">
                            <span class="fa-stack fa-4x">
                                <i class="fa-yellow fa fa-square fa-stack-2x text-primary"></i>
                                <i class="fa-black fa fa-video fa-stack-1x"></i>
                            </span>
                        </div>
                    </a>
                    <p>Watch an UltraTEM webinar</p>
                </div>
            </div>

            <p style="text-align: center;"><a href="#contact" class="page-scroll">Contact us</a> for more information on leasing the UltraTEM for your AGC project.</p>
        </div>
    </div>
</section>
